* {
	font-family: 'Acme', sans-serif;
}
#gameTitle {
	text-align: center;
	
	font-size:50px;
	
	text-transform: uppercase;
	margin:0;
}
#scoreBoard {
	position: absolute;
	top:40px;
	left:50%;
	margin-left:-250px;
	
	font-size:20px;
}
#board {
	width:500px;
	height:500px;
	
	position: absolute;
	top: 60px;
	left: 50%;
	
	margin-left:-252px;
	
	z-index: 1;
	
	border:2px solid #757914;
}
/*
.row:first-child .cell {
	border-top:2px solid #757914;
}
.row:last-child .cell {
	border-bottom:2px solid #757914;
}
.cell:first-child {
	border-left:2px solid #757914;
}
.cell:last-child {
	border-right:2px solid #757914;
}
*/

.row {
	width:auto;
	height:10px;
}

.cell {
	width:10px;
	height:10px;
	
	background-color:#c9e238;
	
	display:inline-block;
	
	vertical-align: top;
}
.cell.food {
	background-image:url(food.png);
}
.cell.snake {
	border:1px solid #c9e238;
	width:8px;
	height:8px;
	
	background-color:#757914;
}
.cell.otherSnake {
	background-color:rgba(117, 121, 20, 0.7);
}

.pop {
	position:fixed;
	top:210px;
	left:50%;
	
	width:210px;
	height:180px;
	
	padding:20px;
	
	text-align: center;
	
	margin-left:-125px;
	
	background:#fff;
	
	-webkit-box-shadow: 0 0 20px 0 rgba(58, 58, 58, 0.7);
	box-shadow: 0 0 20px 0 rgba(58, 58, 58, 0.7);
	
	z-index: 2;

	display:none;
}
.pop h1, .pop h2, .pop h3 {
	margin:0 0 10px 0;
}

.pop input {
	width: 100%;
	height: auto;
	
	box-sizing: border-box;
	
	padding: 10px 20px;
	
	text-align: center;
	
	border: 1px solid #000;
	
	font-size:18px;
	
	margin-top:10px;
	
	outline: none;
}
.pop input:focus {
	border-color: #0574c3;
}
.pop input.error {
	border-color: #ee1010;
}
.pop button {
	position:absolute;
	bottom:0;
	left:0;
	
	width:100%;
	height:60px;
	
	padding:10px 20px;
	
	text-align: center;
	
	box-sizing: border-box;
	border:0;
	font-size:20px;
	
	text-transform: uppercase;
	
	background-color: #0096ff;
	
	color:#fff;
	
	cursor: pointer;
}
.pop button:hover {
	background-color: #0574c3;
}