$boardBGColor: #c9e238;
$snakeColor: #757914;
$otherSnakeColor: rgba(117,121,20,0.7);
$deadSnakeColor: #bb7403;
$lightBlueColor: #0096ff;
$midBlueColor: #0574c3;
$darkBlueColor: #004475;

* {
	font-family:'Acme',sans-serif;
}
			
#gameTitle {
	text-align:center;
	font-size:50px;
	text-transform:uppercase;
	margin:0;
}

#myScore {
	position:absolute;
	top:50px;
	left:50%;
	margin-left:-370px;
	font-size:20px;
}

#Container {
	width:744px;
	height:504px;
	position:absolute;
	top:75px;
	left:50%;
	margin-left:-372px;

	#board {
		width:500px;
		height:500px;
		float:left;
		border:2px solid $snakeColor;
		background-color:$boardBGColor;
		
		.row {
			width:auto;
			height:10px;
		}
		
		.cell {
			width:10px;
			height:10px;
			display:inline-block;
			vertical-align:top;
			
			&.food {
				background-image:url(../images/food.png);
			}
			
			&.deadSnake {
				border:1px solid $boardBGColor;
				width:8px;
				height:8px;
				background-color:$deadSnakeColor;
			}
			
			&.portal {
				background-image:url(../images/portal.png);
			}
			
			&.snake {
				border:1px solid $boardBGColor;
				width:8px;
				height:8px;
				background-color:$snakeColor;

				//snake colors
				&.color0 {
					background-color:#4a3836; // espresso
				}
				&.color1 {
					background-color:#b14835; //brick red
				}
				&.color2 {
					background-color:#7c0032; // cabernet red
				}
				&.color3 {
					background-color:#4c1661; // indigo
				}
				&.color4 {
					background-color:#002e5a; // navy
				}
				&.color5 {
					background-color:#1e66b2; // french blue
				}
				&.color6 {
					background-color:#56bcc1; // turquoise
				}
				&.color7 {
					background-color:#f0a7b2; // rose
				}
				&.color8 {
					background-color:#6d9346; // tree top green
				}
				&.color9 {
					background-color:#01654d; // emerald green
				}
				&.color10 {
					background-color:#ed008c; // magenta
				}
				&.color11 {
					background-color:#ed1b24; // fire engine red
				}
				&.color12 {
					background-color:#f5864f; // Papaya orange
				}
				&.color13 {
					background-color:#fdaf17; // clementine orange
				}
				&.color14 {
					background-color:#a2b5a1; // sage green
				}
				
			}
		}
	}
	
	#rightSide {		
		background-color:$darkBlueColor;
		width:200px;
		height:464px;
		padding:20px;
		color:#fff;
		
		overflow-y: auto;
		
		h1 {
			margin:0 0 10px;
			text-align:center;
			color:#fff;
		}
		
		.noPlayers {
			font-size:22px;
			color:$lightBlueColor;
			text-align:center;
			
			margin-bottom:15px;
		}
		
		.sbScore {
			font-size:22px;
			
			&:first-child {
				font-size:26px;
			}		
		}
	}
}


#Messages {
	width:744px;
	height:auto;
	position:absolute;
	top:585px;
	left:50%;
	margin-left:-372px;
	font-size:20px;
	font-weight:400;
	text-align:center;
}


.pop {
	position:fixed;
	top:200px;
	left:50%;
	width:210px;
	height:auto;
	padding:20px 20px 80px 20px;
	text-align:center;
	margin-left:-245px;
	background:#fff;
	-webkit-box-shadow:0 0 20px 0 rgba(58,58,58,0.7);
	box-shadow:0 0 20px 0 rgba(58,58,58,0.7);
	z-index:2;
	display:none;
	
	h1, h2, h3 {
		margin:0 0 10px;
	}
	
	input, select {
		width:100%;
		height:auto;
		box-sizing:border-box;
		padding:10px 20px;
		text-align:center;
		border:1px solid #000;
		font-size:18px;
		margin-top:10px;
		outline:none;
		
		&:focus {
			border-color:$midBlueColor;
		}
		
		&.error {
			border-color:#ee1010;
		}
	}
	
	button {
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height:60px;
		padding:10px 20px;
		text-align:center;
		box-sizing:border-box;
		border:0;
		font-size:20px;
		text-transform:uppercase;
		background-color:$lightBlueColor;
		color:#fff;
		cursor:pointer;
		
		&:hover {
			background-color:$midBlueColor;
		}
	}
			
}

.color0 {
	color:#4a3836; // espresso
}
.color1 {
	color:#b14835; //brick red
}
.color2 {
	color:#7c0032; // cabernet red
}
.color3 {
	color:#4c1661; // indigo
}
.color4 {
	color:#002e5a; // navy
}
.color5 {
	color:#1e66b2; // french blue
}
.color6 {
	color:#56bcc1; // turquoise
}
.color7 {
	color:#f0a7b2; // chive green
}
.color8 {
	color:#6d9346; // tree top green
}
.color9 {
	color:#01654d; // emerald green
}
.color10 {
	color:#ed008c; // magenta
}
.color11 {
	color:#ed1b24; // fire engine red
}
.color12 {
	color:#f5864f; // Papaya orange
}
.color13 {
	color:#fdaf17; // clementine orange
}
.color14 {
	color:#a2b5a1; // sage green
}